<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="feri.com.lesson"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".modul.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modul.TutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modul.menuAkun.EditProfilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modul.kelas.BerhasilTambahKelasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modul.kelas.PreviewDataKelasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modul.kelas.DenahKelasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modul.kelas.DataKelasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modul.detailRekaman.DetailRekamanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modul.detailKelas.DetailKelasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modul.rekaman.BerhasilRekamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modul.rekaman.CatatanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modul.rekaman.RekamanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modul.rekaman.PreviewDataRekamanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modul.kelas.DataSiswaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modul.rekaman.DataRekamanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modul.authentication.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".modul.rekaman.JoinKelasActivity" />
        <activity
            android:name=".modul.authentication.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="feri.com.lesson.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>